body{
    background-color:#51575D;
}

.main-heading{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 15px 15px 15px black;
    font-size: 3.5em;
    color: black;
}

.background-for-the-heading{
    background: linear-gradient(to right, #5B6770, #9CAEBF);
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 170px;
}

.thesamebackground{
    background-color: rgba(91, 103, 112, 0.6) ;
    margin-left: 170px;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    margin-right: 20px;
}

.paragraph-gradient{
    color: #ffff;
    font-size: 2em;
    -webkit-text-stroke: 0.7px black;
    text-align: center;
}

.quote{
    border: 1px dotted black;
    padding: 10px;
    margin-left: 150px;
}

.divider{
    border: none;
    height: 4px;
    background-color: lightgray;
    border: 3px dotted black;
    margin: 14px;
    margin-left: 150px;
}

.image{
    border-radius: 5px;
    box-shadow: 5px 5px 15px black;
    display: block;
    margin: 0 auto;
}

.picture{
    margin-left: 160px;
}

.Dashboard{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
   width: 140px;
   position: fixed;
   left: 0;
   top: 0;
   height: 96vh;
   justify-content: center;
   margin: 20px;
   background-color: #6A747D;
    border-radius: 10px;
    box-shadow: -5px -5px 15px black;

}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin-left: 10px;
}

.container{
    margin-left: 160px;
}

.divimage{
    display: block;
    margin-left: 160px;
    margin-top: 50px;

}

.figcaption{
    font-style: italic;
    font-weight: bold;
    margin: 20px;
}

.home{
    color: black;
}

.BLOCKS{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    gap: 20px;
}
.blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    margin-left: 170px;
    background-color: rgba(91, 103, 112, 0.6);
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}

.blocks2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    background-color: rgba(91, 103, 112, 0.6);
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}

.blocks3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    background-color: rgba(91, 103, 112, 0.6);
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}
.headingforblock{
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    display: flex;
}

.paragraph-gradient1{
    color: #ffff;
    -webkit-text-stroke: 0.6px black;
    font-size: 25px;
    text-align: center;
}

.footer{
    margin-left: 170px;
    text-align: center;
}

.social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 250px;
}
.ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
}

.footer-text{
    color: white;
    font-size: smaller;
    text-align: center;
    width: 650px;

}

.Disclaimer{
    color: white;
    font-size: large;
}